.heroBannerSection {
    position: relative;
}

.heroBannerOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #000;
    z-index: 5;
}

.heroBanner {
    background: url(https://i.ibb.co/GdH4rmJ/bailey-zindel-NRQV-h-BF10-M-unsplash.jpg) no-repeat center center;
    background-size: cover;
    height: 75vh;
    position: relative;
    width: 100%;
}

.heroBannerContent {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    max-width: 60vw;
    min-width: 56vw;
    z-index: 10;
}

.heroBannerTitle {
    color: #fff;
    text-align: left;
    font-size: 44px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1.25rem;
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    .heroBanner {
        position: relative;
        height: 50vh;
    }

    .heroBannerContent {
        position: absolute;
        top: 10%;
        left: 8px;
        transform: translate(0%, 0%);
        max-width: 95vw;
        min-width: 95vw;
        padding-left: 8px;
        padding-right: 8px;
        z-index: 10;
    }

    .heroBannerTitle {
        font-size: 28px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 1rem;
        padding-left: 12px;
    }
}